{% extends "base.html" %}

{% block content %}
{% load rsid_extras %}
<style>
    .table {
        border-collapse: collapse;
        width: 80%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        
    }
      
    .th, .td {
        text-align: left;
        width: 100px;
        overflow: hidden;
        
    }
      
    .tr:nth-child(odd) {
        background-color: rgb(160, 240, 160);
        width: 100px;
        overflow: hidden;
    }
</style>
    <h1>Your cataloged rsID's: </h1>
    <form action="{% url 'VariantFile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            {{ form.file }}
        </p>
        <p>
            <button class="btn btn-outline-dark me-1" onclick="document.getElementById('uploadFile').click()">Upload Variants File</button>
            <input type="file" id="uploadFile" style="display:none"/>
        </p>
  
    </form>
            <table class="table">
                        <tr class="tr">
                            <th class="th">rsID</th>
                            <th class="th">Gene</th>
                            <th class="th">Disease</th>
                        </tr>
            </table>            
            {% for rsid in rsids %}
            <table class="table">
                        <tr>
                            <td class="td">
                            <a href="{% url 'rsid.detail' pk=rsid.id %}" class="text-dark text-decoration-non">{{rsid.rs_id }}</a>
                            </td>
                            <td class="td"> {{ rsid.gene.name }}</td>
                            <td class="td">{% if not rsid.diseases %} <a style="color : red;">None available.</a> 
                                    {% else %} {% for disease in rsid.diseases%} 
                                    <li>{{ disease }}</li>
                                    {% endfor %}
                                    {% endif %}</td>    
                        </tr>
            </table>   
            {% empty %}
            <p style="color : red;">No rsID's available.</p>  
            {% endfor %}   
{% endblock %}



